@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

@import 'tailwindcss';

@theme {
  --font-text: "Hedvig Letters Serif", serif;
}

@layer base {
  :root {
    --navbar-height: 56px;
  }
}

@layer components {
  .h-nav {
    height: var(--navbar-height);
  }

  .top-nav {
    top: var(--navbar-height);
  }
}
