@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

@import 'tailwindcss';

@theme {
  --font-text: "Hedvig Letters Serif", serif;
  --animate-floatin: floatin 0.5s;
  --animate-fadein: fadein 0.5s;

  @keyframes floatin {
    0% {
      opacity: 0; 
      transform: translateY(3%);
    },
    100% {
      opacity: 1; 
      transform: translateY(0%);
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    },
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  :root {
    --navbar-height: 56px;
  }
}

@layer components {
  .h-nav {
    height: var(--navbar-height);
  }

  .top-nav {
    top: var(--navbar-height);
  }

  .h-app {
    height: calc(100vh - var(--navbar-height));
  }
}

